# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environment
venv310/
venv/
env/
ENV/

# Python packaging
*.egg-info/
dist/
build/
*.egg

data/

# Logs
*.log

# Docker
*.env
docker-compose.override.yml